.header {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  height: 7rem;
  background-color: #fff;
  border-bottom: grey;
  z-index: 999;
  display: flex;
  padding: 0 3rem;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .header {
    padding: 0 2rem;
  }
}
.header__logo {
  margin-left: 1rem;
  opacity: 90%;
}
.header__nav {
  margin-right: auto;
  opacity: 80%;
}
.header__list {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .header__list {
    display: none;
  }
}
.header__items {
  list-style: none;
  font-weight: 600;
  font-size: 1.7rem;
  opacity: 80%;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: all 0.2s;
}
.header__items:not(:last-child) {
  margin-right: 4rem;
}
.header__items:hover {
  opacity: 100%;
}
.header__authentication {
  display: flex;
  padding: 1rem;
  opacity: 80%;
  align-items: center;
  font-size: 1.3rem;
}
@media screen and (max-width: 480px) {
  .header__authentication {
    display: none;
  }
}
.header__login {
  cursor: pointer;
  margin-right: 2rem;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.7rem;
  opacity: 80%;
}
@media screen and (max-width: 480px) {
  .header__login {
    margin: 1rem 3rem;
  }
}
.header__signup {
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 600;
  width: 9rem;
  text-align: center;
  background-color: #2D31FA;
  padding: 0.8rem;
  color: #fff;
  border-radius: 7px;
  transition: background-color 0.3s;
  text-decoration: none;
}
.header__signup:hover {
  background-color: #1d20c2;
}
.header__user {
  margin-right: 2rem;
  background-color: #9FB4FF;
  padding: 1rem;
  border-radius: 10px;
}
.header__welcome {
  font-size: 2rem;
  font-weight: 600;
  margin-right: 1.3rem;
}
.header__welcomeuser {
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
  opacity: 100%;
}
.header__logout {
  cursor: pointer;
  font-weight: 600;
  width: 6.8rem;
  border: none;
  text-align: center;
  background-color: #2D31FA;
  padding: 0.8rem;
  color: #fff;
  border-radius: 7px;
  transition: background-color 0.3s;
  text-decoration: none;
}
.header__logout:hover {
  background-color: #1d20c2;
}
@media screen and (max-width: 480px) {
  .header__logout {
    width: 10rem;
    margin-top: 2rem;
  }
}

.headeractive:hover,
.headeractive:active,
.headeractive {
  background-color: #2D31FA;
  color: #fff;
  padding: 0.5rem 1.3rem;
  border-radius: 15px;
}

@media screen and (max-width: 480px) {
  .headeractive:hover,
.headeractive:active,
.headeractive {
    color: white;
    width: 80%;
    text-align: center;
  }
}
.hamburger {
  display: none;
  transition: all 0.2s ease;
}
@media screen and (max-width: 480px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 4rem;
    height: 3rem;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  .hamburger__line {
    width: 100%;
    height: 0.5rem;
    background-color: #2D31FA;
  }
  .hamburger__authentication {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  .hamburger__menu {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #F7F5F2;
    top: 6.5rem;
    right: 0;
    padding: 2rem 0;
    margin: 0;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hamburger__items {
    font-size: 3rem;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    color: black;
    opacity: 90%;
  }
  .hamburger__items:not(:last-child) {
    margin-bottom: 2rem;
  }
}/*# sourceMappingURL=Header.css.map */